{% load humanize %}
{% load varios_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <img src='https://masavellaneda.s3.amazonaws.com/static/logo.jpg' />
        </div>
                <br>
        {% for negocio, negocio_items in items_per_negocios.items %}
            <div>
                <span>Negocio: {{ negocio }}</span>
                <br>
                <span>Contacto: {{ negocio.nombre_contacto }}</span>
                <br>
                <span>Direccion: {{ negocio.direccion }}</span>
                <br>
            </div>
                <br>
            <table border="1">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Negocio</th>
                        <th>Color</th>
                        <th>Talle</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                    <tr>
                </thead>
                <tbody id="carrito_items">
                    {% for item in negocio_items.items %}
                    <tr>
                        <td>{{ item.producto.codigo }}</td>
                        <td>{{ item.producto.nombre }}</td>
                        <td>{{ item.producto.categoria }}</td>
                        <td>{{ item.producto.negocio }}</td>
                        <td>{{ item.color }}</td>
                        <td>{{ item.talle}}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>${{ item.precio|humanize_precio }}</td>
                        <td>${{ item.precio_total|humanize_precio }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>${{ negocio_items.total_precio|humanize_precio }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </body>
</html>
