{% extends "base.html" %}
{% load url from future %}
{% load productos_tags %}

{% block content %}
      <!--Breadcrumb Part Start-->
      <div class="breadcrumb"> 
          <a href="{% url 'tradeco.views.home' %}">Home</a> » 
          <a href="{% url 'carritos.views.carrito' %}">Carrito</a> » 
          <a href="{% url 'carritos.views.checkout' %}">Hacer Pedido</a>
      </div>
      <!--Breadcrumb Part End-->
      <h1>Hacer pedido</h1>
        <div class="checkout-heading">Detalles del usuario</div>
          <form action="{% url 'carritos.views.checkout' %}" method="post">
          {% csrf_token %}
          <table class="form">
            <tbody>
              <tr>
                <td>Nombre:</td>
                <td>
                    {{ form.nombre }}
                    {{ form.nombre.errors }}
                </td>
              </tr>
              <tr>
                <td>Apellido:</td>
                <td>
                    {{ form.apellido }}
                    {{ form.apellido.errors }}
                </td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>
                    {{ form.email }}
                    {{ form.email.errors }}
                </td>
              </tr>
              <tr>
                <td>Telefono:</td>
                <td>
                    {{ form.telefono }}
                    {{ form.telefono.errors }}
                </td>
              </tr>
            </tbody>
          </table>
        <div class="checkout-heading">Productos</div>
          <div class="checkout-product">
            <table>
              <thead>
                <tr>
                  <td class="name">Producto</td>
                  <td class="model">Codigo</td>
                  <td class="quantity">Cantidad</td>
                  <td class="price">Precio Unitario</td>
                  <td class="total">Total</td>
                </tr>
              </thead>
              <tbody>
                {% for item in carrito.items %}
                <tr>
                  <td class="name"><a href="{% url 'productos.views.detalle' item.producto.slug %}" target="_blank">{{ item.producto.titulo }}</a></td>
                  <td class="model">{{ item.producto.codigo }}</td>
                  <td class="quantity">{{ item.cantidad }}</td>
                  <td class="price">${{ item.precio|humanize_precio }}</td>
                  <td class="total">${{ item.precio_total|humanize_precio }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td class="price" colspan="4"><b>Total:</b></td>
                  <td class="total">${{ carrito.total_precio|humanize_precio }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="buttons">
            <div class="right">
              <input type="submit" class="button" id="button-confirm" value="Confirmar">
            </div>
          </div>
        </form>
{% endblock %}
