{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div id="main-content" class="full-width page-content">
    <h1 class="page-title">Se hizo el pedido!</h1>

    <div class="msg success"><p>Gracias por la compra!. Se ha enviado el pedido.</p></div> 

    <div>
        <p> Se le envió un detalle con los items.  </p>
        <p> En la brevedad un representante se va a estar comunicando con usted.  </p>

        <p> Muchas gracias
            <br>Atte, 
            <br>Agora Hogar
        </p>
    </div>
</div>
{% endblock %}
