{% extends "base.html" %}
{% load url from future %}
{% load productos_tags %}

{% block content %}
      <!--Breadcrumb Part Start-->
      <div class="breadcrumb"> <a href="index.html">Home</a> » <a href="">Shopping Cart</a></div>
      <!--Breadcrumb Part End-->
      <h1>Checkout</h1>
        <div class="checkout-heading"> Account & Billing Details</div>
          <table class="form">
            <tbody>
              <tr>
                <td><span class="required">*</span> First Name:</td>
                <td><input type="text" class="large-field" value="" name="firstname"></td>
              </tr>
              <tr>
                <td><span class="required">*</span> Last Name:</td>
                <td><input type="text" class="large-field" value="" name="lastname"></td>
              </tr>
              <tr>
                <td><span class="required">*</span> Address 1:</td>
                <td><input type="text" class="large-field" value="" name="address_1"></td>
              </tr>
              <tr>
                <td><span class="required">*</span> City:</td>
                <td><input type="text" class="large-field" value="" name="city"></td>
              </tr>
              <tr>
                <td><span class="required" id="payment-postcode-required">*</span> Post Code:</td>
                <td><input type="text" class="large-field" value="" name="postcode"></td>
              </tr>
            </tbody>
          </table>
          <div class="checkout-product">
            <table>
              <thead>
                <tr>
                  <td class="name">Product Name</td>
                  <td class="model">Model</td>
                  <td class="quantity">Quantity</td>
                  <td class="price">Price</td>
                  <td class="total">Total</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="name"><a href="#">Canon EOS 5D</a></td>
                  <td class="model">Product 3</td>
                  <td class="quantity">1</td>
                  <td class="price">£61.33</td>
                  <td class="total">£61.33</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="price" colspan="4"><b>Sub-Total:</b></td>
                  <td class="total">£51.11</td>
                </tr>
                <tr>
                  <td class="price" colspan="4"><b>Flat Shipping Rate:</b></td>
                  <td class="total">£3.19</td>
                </tr>
                <tr>
                  <td class="price" colspan="4"><b>Total:</b></td>
                  <td class="total">£66.37</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="buttons">
            <div class="right">
              <input type="button" class="button" id="button-confirm" value="Confirm Order">
            </div>
          </div>
    </div>
{% endblock %}
