{% extends "base.html" %}
{% load url from future %}
{% load humanize %}
{% load varios_tags %}

{% block content %}
<div id="main-content" class="full-width page-content">
    <h2 class="page-title">Mi Carrito</h2>
    <div class="shadow-wrapper margin1">
            <div class="left-shadow"></div>
            <div class="mid-shadow"></div>
            <div class="right-shadow"></div>
    </div>
    {% if items_per_negocios %}
        <div id="items">
            {% include 'store/_carrito_items.html' %}
        </div>
    {% else %}
        Carrito Vacio
    {% endif %}
</div>
{% endblock %}
