{% extends "base.html" %}
{% load url from future %}
{% load humanize %}
{% load varios_tags %}

{% block content %}
<div id="c1">
    <div id="c1a">Categorías</div>
    <div class="c1b" id="c1b">
        <ul>
            {% if user.negocio %}
                <li><a tabindex="-1" href="/negocio/perfil">Perfil</a></li>
                <li><a tabindex="-1" href="/producto/">Nuevo producto</a></li>
                <li><a tabindex="-1" href="/productos/propios">Ver mis productos</a></li>
            {% elif user.comprador %}
                <li><a tabindex="-1" href="/comprador/perfil">Perfil</a></li>
                <li><a tabindex="-1" href="/carrito/historial">Historial compras</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div id="c2">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th></th>
            <tr>
        </thead>
        <tbody id="carrito_items">
            {% for carrito in carritos %}
            <tr>
                <td>{{ carrito.fecha_checkout }}</td>
                <td>{{ carrito.total_diferentes_items }}</td>
                <td>{{ carrito.total_items }}</td>
                <td>{{ carrito.total_precio }}</td>
                <td>
                    <a class="btn btn-small" href="{% url 'store.views.carrito_detalle' carrito.id %}">
                        Ver
                    </a>
                </td>
            <tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
