{% load productos_tags %}
<div id="cart">
    <div class="heading">
        <h4><img width="32" height="32" alt="small-cart-icon" src="{{ static_url}}img/cart-bg.png"></h4>
        <a><span id="cart-total">{{ carrito.total_items }} item(s) - ${{ carrito.total_precio|humanize_precio }}</span></a></div>
    <div class="content">
    <div class="mini-cart-info">
        <table>
        <tbody>
                {% for item in carrito.items %}
            <tr>
                <td class="image">
                    <a href="{% url 'productos.views.detalle' item.producto.slug %}">
                        <img title="{{ item.producto.titulo }}" 
                            alt="{{ item.producto.titulo }}" 
                            src="{{ item.producto.small.url }}">
                    </a>
                </td>
                <td class="name"><a href="{% url 'productos.views.detalle' item.producto.slug %}" target="_blank">{{ item.producto.titulo }}</a></td>
                <td class="quantity">x&nbsp;{{ item.cantidad }}</td>
                <td class="total">${{ item.precio_total|humanize_precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="mini-cart-total">
        <table>
        <tbody>
            <td class="right"><b>Total:</b></td>
             <td class="right">${{ carrito.total_precio|humanize_precio }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="checkout"><a href="{% url 'carritos.views.carrito' %}" class="button">Ir a Carrito</a> &nbsp; 
        <a href="{% url 'carritos.views.checkout' %}" class="button">Hacer Pedido</a></div>
    </div>
</div>
