{% extends "base.html" %}
{% load url from future %}
{% load productos_tags %}

{% block content %}
<!--Breadcrumb Part Start-->
<div class="breadcrumb"> 
    {% for e in breadcrumb %}
    <a href="{{ e.1 }}">{{e.0}}</a> 
    {% if not forloop.last %} » {% endif %}
    {% endfor %}
</div>
<!--Breadcrumb Part End-->
<div class="product-info">
<div class="left">
    <div class="image"> 
        <a href="{{ producto.imagenes.0.imagen.url }}" title="iPhone" class="cloud-zoom colorbox" id='zoom1' rel="adjustX: 0, adjustY:0, tint:'#000000',tintOpacity:0.2, zoomWidth:360, position:'inside', showTitle:false"> 
            <img src="{{ producto.imagenes.0.detalle.url }}" title="#" alt="#" id="image" />
        </a> 
    </div>
    <div class="image-additional"> 
        {% for imagen in producto.imagenes %}
            <a href="{{imagen.imagen.url }}" title="#" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '{{ imagen.detalle.url }}' "> 
                <img src="{{ imagen.small.url }}" width="62" title="{{ producto.titulo }}" alt="{{ product.titulo}}" />
            </a> 
        {% endfor %}
    </div>
</div>
<div class="right">
    <h1>{{ producto.titulo }}<h1>
    <div class="description"> 
        <span>Categoria:</span> <a href="#">{{ producto.categoria.nombre }}</a><br>
        {% if producto.sub_categoria %}
            <span>SubCategoria:</span> <a href="#">{{ producto.sub_categoria.nombre }}</a><br>
        {% endif %}
        <span>Codigo de Producto:</span> {{ producto.codigo }}<br>
    </div>

          <div class="price">Precio: 
              <div class="price-tag">${{ producto.precio|humanize_precio }}</div>
          </div>
          <div class="cart">
              <form action="{% url 'carritos.views.agregar_producto' %}" method="post">
                <select name="cantidad" style="width:50px;">
                    {% for i  in 21|get_range %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <div class="clear"></div>
                {% csrf_token %}
                <input type="hidden" value="{{ producto.id }}" name="producto_id" />
                <input type="submit" class="button" id="button-cart" value="Agregar al Carrito">
              </form>
          </div>
</div>
</div>
<!-- Tabs Start -->
<div id="tabs" class="htabs"> <a href="#tab-description">Descripcion</a>  </div>
<div id="tab-description" class="tab-content">
<p>{{ producto.descripcion }}</p>
<h3>Caracteristicas:</h3>
<ul>
    {{ producto.caracteristicas|linebreaksbr }}

</ul>
</div>
<!-- Tabs End -->
<!-- Related Products Start -->
<div class="box">
<div class="box-heading">Productos Relacionados</div>
<div class="box-content">
    <div class="box-product">
    {% for relacionado in relacionados %}
        <div>
            <div class="image">
                <a href="{% url 'productos.views.detalle' relacionado.slug %}">
                    <img src="{{ relacionado.thumbnail.url }}" alt="{{ relacionado.titulo }}" />
                </a>
            </div>
            <div class="name"><a href="{% url 'productos.views.detalle' relacionado.slug %}">{{ relacionado.titulo }}</a></div>
        </div>
    {% endfor %}
</div>
</div>
<!-- Related Products End -->
{% endblock %}
