{% load url from future %}
<div id="menu"><span>Menu</span>
    <ul>
        <li class="home"><a  title="Home" href="/"><span>Home</span></a></li>
        {% for categoria in categorias %}
        <li><a href="{% url 'productos.views.index' categoria.slug %}">{{ categoria.nombre }}</a>
        {% for subcategoria in categoria.subcategoria_set.all %}
        <div>
            <ul>
                <li><a href="{% url 'productos.views.index' categoria.slug subcategoria.slug %}">{{ subcategoria.nombre }}</a></li>
            </ul>
        </div>
        {% endfor %}
        </li>
        {% endfor %}

        <div class="right">
            hola
        </div>
    </ul>
</div>
